{% extends 'main/layout.html' %}
{% load i18n %}
{% block title %} {% if form.instance.pk %}{% trans "Редактировать участника" %}{% else %}{% trans "Добавить участника" %}{% endif %} {% endblock %}

{% block content %}
<div class="participant-form-container">
    <h2>{% if form.instance.pk %}{% trans "Редактировать участника" %}{% else %}{% trans "Добавить участника" %}{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">{% if form.instance.pk %}{% trans "Сохранить" %}{% else %}{% trans "Добавить" %}{% endif %}</button>
    </form>
    <a href="{% url 'participant_list' %}" class="back-link">{% trans "Назад к списку" %}</a>
</div>
{% endblock %}
