body {
        font-family: Arial, sans-serif;
        background-color: #adb5bd;
        margin: 0;
        padding: 0;
        }


/* Основные стили для шапки */
header {
    background-color: #6c757d;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Позволяет перенос элементов на новую строку */
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center; /* Центрирует элементы по горизонтали */
}

.navbar-menu li {
    display: inline-block;
}



.navbar-menu a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #212529;
}

/* Основные стили для мобильных устройств */
@media (max-width: 768px) {
    .navbar-menu {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Размещаем 5 кнопок в ряд */
        grid-gap: 1px; /* Минимальный промежуток между кнопками */
        justify-items: center;
        align-items: center;
        padding: 1px; /* Уменьшаем общий внутренний отступ */
    }

    .navbar-menu li {
        list-style: none;
    }

    .navbar-menu a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 10px; /* Уменьшаем шрифт */
        padding: 2px; /* Уменьшаем внутренний отступ */
        background-color: #343a40;
        color: white;
        border-radius: 3px; /* Немного округляем углы */
        text-decoration: none;
        width: 60px; /* Уменьшаем ширину кнопки */
        height: 60px; /* Уменьшаем высоту кнопки */
    }

    .navbar-menu a i {
        font-size: 10px; /* Ещё сильнее уменьшаем иконки */
        margin-bottom: 3px; /* Отступ между иконкой и текстом */
    }

    .navbar-menu a:hover {
        background-color: #ced4da;
    }
}






.table-container {
    display: flex;
    height: 100vh;
}




/* Таблица с рейтингом */


/* Общие стили для таблиц */
/* Основная таблица */
.main-table-container {
    flex: 4;
    padding: 0;
    overflow-y: auto;
    background-color: #212529;
}

/* Стили для таблицы */
.main-table-container table {
    width: 100%;
    border-collapse: separate; /* Разделение границ строк */
    border-spacing: 0 10px; /* Отступ между строками */
}

/* Заголовки таблицы (для основной таблицы) */
.main-table-container th {
    font-family: Arial, sans-serif;
    background-color: #212529;
    color: #e9ecef;
    text-align: center;
    padding: 15px;
    font-size: 22px;
}

/* Ячейки таблицы (для основной таблицы) */
.main-table-container td {
    text-align: center;
    padding: 15px;
    font-size: 35px;
    color: #FFFFFF;
}

/* Чередование цветов строк для основной таблицы */
.main-table-container tbody tr:nth-child(odd) {
    background-color: #212529;
    border-radius: 20px; /* Закругляем углы строк */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для отделения строк */
}

.main-table-container tbody tr:nth-child(even) {
    background-color: #343a40;
    border-radius: 20px; /* Закругляем углы строк */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для отделения строк */
}

/* Подсветка строки при наведении для основной таблицы */
.main-table-container tbody tr:hover {
    background-color: #333660;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Увеличиваем тень при наведении */
}



/* Отдельные стили для таблицы с рейтингом */
.ranking-table-container {
    flex: 1;
    padding: 0;
    background-color: #495057;
    border-left: 2px solid #333;
    display: flex;
    flex-direction: column; /* Размещаем заголовок и таблицу вертикально */
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.ranking-table-header {
    width: 100%; /* Ширина заголовка - вся доступная ширина */
    text-align: center;
    padding: 15px 0; /* Отступы сверху и снизу */
    background-color: #495057; /* Цвет фона для заголовка */
}

.ranking-table-header h2 {
    font-size: 28px;
    color: white; /* Цвет текста заголовка (золотой) */
    margin: 0; /* Убираем отступы вокруг заголовка */
}

.ranking-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.ranking-table tr {
    height: 50px;
    border-bottom: 1px solid #333;
}

.ranking-table td {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    padding: 8px;
    border: none;
}

.ranking-table .rank {
    font-size: 23px;
    color: #A0A0A0;
    width: 15%;
}

.ranking-table .participant-number {
    font-size: 22px;
    font-weight: bold;
    width: 50%;
}

.ranking-table .total-score {
    font-size: 28px;
    font-weight: bold;
    color: white;
    width: 35%;
}

.ranking-table tr:nth-child(odd) {
    background-color: #212529;
}

.ranking-table tr:nth-child(even) {
    background-color: #343a40;
}

.ranking-table tr:hover {
    background-color: #333660;
}
.vote-progress {
    display: block;
    font-size: 12px;
    color: #bbbbbb;
    margin-top: 5px;
}
/* Добавляем эффект размытия */

.reveal-btn {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        transition: background-color 0.3s ease;
    }

    .reveal-btn:hover {
        background-color: #0056b3;
    }
.blurred .reveal-btn {
    pointer-events: auto; /* Восстанавливает кликабельность кнопки */
}
    .reveal-btn:active {
        background-color: #003f7f;
    }

    .blurred {
        filter: blur(5px);
        pointer-events: none; /* Чтобы нельзя было взаимодействовать с заблюренным элементом */
    }


@media (max-width: 768px) {
    /* Сделаем таблицу с рейтингом сверху и с фиксированной высотой */
    .ranking-table-container {
        width: 100%;  /* Таблица с рейтингом будет занимать всю ширину */
        max-height: 300px; /* Фиксированная высота */
        overflow-y: auto; /* Вертикальная прокрутка */
        margin-bottom: 20px; /* Отступ между таблицами */
    }

    .main-table-container {
        width: 100%; /* Таблица с оценками также занимает всю ширину */
    }

    /* Чтобы элементы располагались в одну колонку */
    .table-container {
        flex-direction: column;  /* Размещение таблиц по вертикали */
    }

    .ranking-table-header h2 {
        font-size: 14px;  /* Меньший размер шрифта для заголовка */
        text-align: center;  /* Центрируем заголовок */
    }

    /* Размеры шрифта для мобильных устройств */
    .ranking-table td, .main-table-container th, .main-table-container td {
        font-size: 12px;
        padding: 6px;
    }

    /* Немного уменьшить шрифт заголовков в основной таблице */
    .main-table-container th {
        font-size: 8px;
    }
}

.language-form {
        display: inline-flex;
        align-items: center;
        padding: 5px;
        background-color: #f0f0f0;
        border-radius: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    .language-select {
        padding: 5px;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #fff;
        font-size: 14px;
        color: #333;
    }

    .language-btn {
        background-color: #007bff;
        border: none;
        padding: 6px 10px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        font-size: 14px;
        transition: background-color 0.3s ease;
    }

    .language-btn:hover {
        background-color: #0056b3;
    }

    .language-btn:focus {
        outline: none;
    }

    .fa-check {
        font-size: 16px;
    }